* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #1d4eee;
    color: #222;
    line-height: 1.6;
}
header {
    background: #0f172a;
    color: azure;
    padding: 1rem 2rem;

    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
}

.logo span {
    font-size: 2rem;
    font-weight: bold;

}

nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;

}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: none;
    color: yellow;
}

.login {
  background-color: #4CAF50; /* cor do botão */
  color: white;              /* cor do texto */
  padding: 5px 12px;        /* tamanho */
  border: none;              /* tira a borda padrão */
  border-radius: 8px;        /* deixa arredondado */
  cursor: pointer;           /* mãozinha */
  font-size: 16px;
  text-decoration: none;
  display: flex;

}
